.background-landing { /* delete this */
  /* background: url('images/officialBackground.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; */
}
/* NavBar */
.ui.attached.menu {
  background: white;
  border: none !important;
  border-radius: 0 !important;
}
.ui.borderless.middlemenu.menu {
  box-shadow: none;
  border: none;
  margin: 0px;
}
.ui.container.profile-page-container {
  padding-top: 35px;
}
.background-landing {
  margin: 0;
  padding: 0;
}
.ui.container.profile-page-spacing {
  padding-top: 14px;
  padding-bottom: 14px;
}
.ui.card.profile-page-profile {
  margin: 0px;
}
.ui.header.edit-profile-header {
  padding-top: 14px;
}

#landing-grid
{
  margin-top: -170px;
  background-color: rgba(189, 191, 193,0.5);
}
#right-nav-bar {
  padding: 0px;
}
#about-left {
 /* background-color: white; */
 color: white;
}

#about-left > h1 {
  color: white;
  margin-top: 30px;
}
