.background-landing{
  background: url('images/landing-background.png') no-repeat center center;
  background-size: cover;
  height: 500px;
  margin:  0px;
}
/* NavBar */
.ui.attached.menu {
  background: white;
  border: none !important;
  border-radius: 0 !important;
  margin-bottom: 0px;
}
.ui.borderless.middlemenu.menu {
  box-shadow: none;
  border: none;
  margin: 0;
}
.ui.container.profile-page-container {
  padding-top: 30px;
}
.ui.container.profile-page-visits {
  padding-top: 14px;
  padding-bottom: 14px;
}
#right-nav-bar {
  padding: 0;
}
#about-left {
 /* background-color: white; */
 color: white;
}

#about-left > h1 {
  color: white;
  margin-top: 30px;
}
